.THIS.th.propCheck {
    width: 10%;
}

.THIS.th propView {
    width: 5%;
}

.THIS.th propEdit {
    width: 5%;
}

.THIS.th propId {
    width: 30%;
}

.THIS.th propName {
    width: 25%;
}

.THIS.th propCity {
    width: 25%;
}
